In [ ]:
u=int(input('Ingresa el numero de la tabla deseada: '))
for i in range (0,11):
  total=u
  print(u, '*', i, '=', u*i)

Ingresa el numero de la tabla deseada: 6
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60